@model BloodBanakMVC2.Context.tbl_UserPosts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_UserPosts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Village)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Village)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
