@model List<BloodBanakMVC2.Context.userRegistration>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2>UserList</h2>

    <table class="table table-hover">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Mobile</th>
            <th>Blood Group</th>
            <th>Division</th>
            <th>District</th>
            <th>Upazilla</th>
            <th>Union</th>
            <th>Village</th>
            <th>Criterias</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>@item.Mobile</td>
                <td>@item.BloodGroup</td>
                <td>@item.Division</td>
                <td>@item.District</td>
                <td>@item.Sub_District</td>
                <td>@item.Union_council</td>
                <td>@item.Village</td>
                <td>@item.Criterias</td>

                <td>
                    <a href="@Url.Action("Registration",new {item.ID,item.FullName,item.Email,item.Password,item.Mobile,item.Division,item.District,item.Criterias,item.BloodGroup,item.Sub_District,item.Union_council,item.Village})" class="btn btn-success" style="width: 67px">Edit</a><br />
                    <a href="@Url.Action("Delete",new {item.ID})" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>

</div>

