@model IEnumerable<BloodBanakMVC2.Context.tbl_userPost>

@{
    ViewBag.Title = "ShowBloodRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Blood Requests</h2>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userRegistration.FullName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.userRegistration.Division);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRegistration.District);
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.userRegistration.Sub_District);*@
            <p>Thana</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRegistration.Email);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRegistration.Mobile);
        </th>

        @* <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>*@
    <th>
        @Html.DisplayNameFor(model => model.Message)
    </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.userRegistration.FullName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.userRegistration.Division)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userRegistration.District)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userRegistration.Sub_District)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userRegistration.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userRegistration.Mobile)
    </td>
    <td style="color:red; height:200px; width:200px;">
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    <td>
        @* @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
        <a href="tel:@item.userRegistration.Mobile" class="btn btn-success">Call</a>
        <a href="sms:+88 @item.userRegistration.Mobile" class="btn btn-success">SMS</a>
        <a href="mailto: @item.userRegistration.Email" class="btn btn-success" style="background-color:darkorchid">Email</a>

    </td>
</tr>
    }

</table>
